<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- applicationContext.xml是核心配置文件 -->

<!--    1、创建业务对象-->
<!--    <bean id="someService" class="com.bjpowernode.s01.SomeServiceImpl"></bean>-->

<!--    2、创建切面对象-->
<!--    <bean id="myAspect" class="com.bjpowernode.s01.MyAspect"></bean>-->

<!--    将上面这种创建对象的方式，使用注解的方式替代 -->
<!-- 基于注解的方式，一定需要添加包扫描
     需要扫描添加的注解
-->
    <context:component-scan base-package="com.bjpowernode.s01"></context:component-scan>

<!--    3、绑定
创建好对象，然后进行绑定-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
<!--    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>-->
</beans>